manifest {
    homePage = 'https://gitlab.pasteur.fr/aghozlan/entvirus'
    description = 'Assembly and annotation of viral particules'
    mainScript = 'entvirus.nf'
}

process {
    beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=/pasteur/projets/policy01/Matrix/metagenomics/python-lib/lib/python2.7/site-packages;export LD_LIBRARY_PATH=/pasteur/projets/policy01/Matrix/metagenomics/htslib/lib'
    module= 'blast+/2.2.40:Python/2.7.8:SPAdes/3.11.0:AlienTrimmer/0.4.0:bowtie2/2.2.9:khmer/2.1.1:clc-assembly-cell/5.0.0:bwa/0.7.7:dsrc/2.0:mbma/nextflow:openmpi/2.0.1:Ray/2.3.1:megahit/1.1.2:fasta/3.6:mafft/7.273:BMGE/1.12:IQ-TREE/1.6.1:pigz/2.3.3:gotree/0.2.10'
    errorStrategy = 'retry'
}



profiles {

    local {
        process.executor = 'local'
        process.memory = '15G'
        params.queue = 'fast'
        params.partition = 'common'
    }

    hub {
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'hubbioit'
        params.queue = 'hubbioit'
        params.partition = 'hubbioit'
    }
    biomics {
        process.executor = 'slurm'
        process.clusterOptions='--qos=biomics --account biomics'
        process.queue = 'biomics'
        params.queue = 'biomics'
        params.partition = 'biomics'
    }

    common {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'common,dedicated'
        process.$abundance_vp1.queue = 'common'
        process.$abundance_vp1.clusterOptions = '--qos=normal'
        params.queue = 'fast'
        params.partition = 'common,dedicated'
        process.$phylogeny.queue = 'common'
        process.$phylogeny.clusterOptions = '--qos=normal'
    }

    dedicated {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'dedicated'
        process.$abundance_vp1.queue = 'common'
        process.$abundance_vp1.clusterOptions = '--qos=normal'
        params.queue = 'fast'
        params.partition = 'common,dedicated'
        process.$phylogeny.queue = 'common'
        process.$phylogeny.clusterOptions = '--qos=normal'
    }
    singularity {
        process.container = 'file:///pasteur/homes/aghozlan/entvirus/img/entsoft.simg'
        singularity.enabled = true
        singularity.runOptions = "-B /pasteur:/pasteur -B /local:/local"
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'dedicated'
        params.queue = 'hubbioit'
        params.partition = 'dedicated'
    }

}

timeline.enabled = true
//trace.enabled = true
dag.enabled = true
report.enabled = true
