manifest {
    homePage = 'https://gitlab.pasteur.fr/aghozlan/entvirus'
    description = 'Assembly and annotation of viral particules'
    mainScript = 'entvirus.nf'
}

process {
    beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=/pasteur/projets/policy01/Matrix/metagenomics/python-lib/lib/python2.7/site-packages;export LD_LIBRARY_PATH=/pasteur/projets/policy01/Matrix/metagenomics/htslib/lib'
    module= 'blast+/2.2.40:Python/2.7.8:SPAdes/3.10.0:AlienTrimmer/0.4.0:bowtie2/2.2.9:khmer/2.1.1:clc-assembly-cell/5.0.0:bwa/0.7.7:dsrc/2.0:mbma/nextflow:openmpi/2.0.1:Ray/2.3.1'
}



profiles {

    local {
        process.executor = 'local'
        process.memory = '64G'
        params.queue = 'fast'
        params.partition = 'common'
    }

    hub {
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'dedicated'
        params.queue = 'hubbioit'
        params.partition = 'dedicated'
    }

    common {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'common'
        process.$abundance_vp1.queue = 'common'
        process.$abundance_vp1.clusterOptions = 'normal'
        params.queue = 'fast'
        params.partition = 'common'
    }

    dedicated {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'dedicated'
        process.$abundance_vp1.queue = 'common'
        process.$abundance_vp1.clusterOptions = 'normal'
        params.queue = 'fast'
        params.partition = 'common'
    }

}

timeline.enabled = true
//trace.enabled = true
//dag.enabled = true

